body {
    font-family: 'Volkhov', serif;
    background-color: #24282c
}

#sideBar {
    height: 100%;
    width: 234px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    background-color: black;
}

#my-name {
    text-align: center;
    color: #f3f3f3;
    padding: 35px;
    font-weight: bolder
}

.nav-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

#headshot {
    text-align: center;
}

.col-md-3 {
    padding: 0px;
}


#head-shot {
    border-radius: 50%;
    width: 200px;
    height: auto;
    margin: 55px 20px 20px 20px;
}







#full-stack-dev {
    vertical-align: top;
    text-align: center;
    padding-top: 45px;
    color: black;
}






.email {
    text-align: center;
    padding-top: 15px;

}

a.email:link {
    color: black;
}

a.email:visited
{
   color: #black;
   text-decoration: none;
}
a.email:hover
{
   color:#0c1c36;
   text-decoration: none;
}
a.email:active
{
   color: #black;
   text-decoration: none;
}












#github {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 130px;
}

#git-link {
    margin-right: 45px;
    font-size: 80px;
    color: black;
}

#linked-link {
    margin-left: 45px;
    font-size: 80px;
    color: black;
}

#git-link:hover {
    cursor: pointer;
    margin-right: 45px;
    font-size: 80px;
}

#linked-link:hover {
    cursor: pointer;
    margin-left: 45px;
    font-size: 80px;
}

#github i:hover {
   color: #0c1c36;
}








.arrows-down {
    text-align: center;
    color: black;
}









.port {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.port img {
    width: 100%;
    border: solid;
    border-color: black;
    outline: 10px solid black;
    opacity: 0.6;
    border-width: 2px;
}



.port h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 5px;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 17px;
    color: #ffffff;
    text-align: center;
    background: #343a40;
    border-bottom: 0;
    border-right: solid;
    border-left: solid;
    border-color: black;
    font-size: smaller;
    border-width: 2px;
   
}



.port img:hover ~ h3 {
   background-color: #0c1c36;
   border-width: 0px;
   line-height: 23px;
}

.port img:hover {
    cursor: pointer;
}

.port h3:hover {
    cursor: pointer;
    background-color: #0c1c36;
    border-width: 0px;
    line-height: 23px;
}


.port img {
      border-radius: 12px;

}



.portfolio-span {
    margin-left: 25px;
}







#first-row {
    display: inline;
    text-align: center;
    margin-top: 50px;
}



#ingredient-list {
    margin-right: 45px;
}

#fallacy {
    margin-left: 45px;
}




#second-row {
    display: inline;
    text-align: center;
    margin-top: 45px;
}

#betkeep {
    margin-right: 45px;
}

#train {
    margin-left: 45px;
}




#third-row {
    display: inline;
    text-align: center;
    margin-top: 45px;
}

#stopwatch {
    margin-right: 45px;
}

#gifs {
    margin-left: 45px;
}


#fourth-row {
    display: inline;
    text-align: center;
    margin-top: 45px;
}

#liri {
    margin-right: 45px;
}

#node-and-SQL {
    margin-left: 45px;
}

#fifth-row {
    display: inline;
    text-align: center;
    margin-top: 45px;
}

#FriendFinder {
    margin-right: 45px;
}

/* #node-and-SQL {
    margin-left: 45px;
} */



.resume {
  margin-top: 20px;
  width: 100%;
  height: auto;
}



.page-break {
    text-align: center;
    font-size: x-large;
    margin: 60px 0px 45px 25px;
    color: black;
}

#my-name href:hover {
    cursor: pointer;
    color: white;
}

a:hover {
    color: #0c1c36;
}






.active {
	color: white;
	background-color: rgb(36, 40, 43);
	border-left: thick solid rgb(152, 150, 150);
}


#phone-menu {
    display: none;
}





@media screen and (max-width: 767px) {
    #mobile-navbar {
        display: none;
    }

    .portfolio-span {
        margin-left: 25px;
    }

    .page-break {
        margin: 100px 0px 0px 0px;
    }


    #phone-menu {
        display: block;
        border-radius: 80px;
        position: fixed;
        width: 60px;
        height: auto;
        margin: 20px 0px 0px 10px;
        border: solid;
        border-color: black;
        z-index: 4;
        border-color: #343a40;


    }



  }